@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@300&family=Roboto:wght@100;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@200;300;400;500&display=swap');

.sarakuch {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(97vh - 69px);
}

.bgf {
    padding: 30px;
    width: 100%;
    background: rgba(132, 167, 217, 0.24);
    border-radius: 15px;
}

.titlestyle {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* identical to box height, or 73% */
    letter-spacing: 0.005em;
    color: #585353;
}

.addBtn {
    margin-top: 10px;
    font-family: 'Roboto Serif';
    font-weight: 400;
    padding: 8px 30px;
    background: #007FFF;
    border: 1px solid #007FFF;
    border-radius: 20px;
    color: #FFFFFF;
}

.addBtn:hover {
    background: #FFFFFF;
    color: #007FFF;
}

.frameTop{
    /* height: 51px; */
    border-top-right-radius: 20px;
    /* top: 405px; */
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 10px;
}

.frameEntry{
    background: #F5F5F5;
    border-bottom: 2px solid #FFFFFF;
    border-radius: 8px 8px 0px 0px;
}
